@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

/* Navigation Bar using Bootstrap */

nav {
    background-color: #f2f2f2;
}

.navbar-light .navbar-brand {
    color: #035951;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
    color: #614230;

}

.navbar-light .navbar-nav .nav-link.active {
    color: #614230;
    box-shadow: 0px 2px #614230;
}

#topnav {
    position: fixed;
    z-index: 9999;
    margin-top: -50px;
    height: 100vh;
    width: 100%;
    background-color: #f2f2f2;
    /* transition: ease-in 1s; */
}

.div-nav-mob{
    padding-top: 50% !important;
}

.a-col-br{
    color: #614230;
    font-size: 18px !important;
    font-weight: bold;
}

nav{
    z-index: 1;
}

.open-btn {
    z-index: 9999;
}

.nav-close {
    float: right;
    padding-top: 10px;
    padding-right: 20px;
}

/* End for Navigation Bar */

/* Footer */
footer{
    background: #035951;
    color: #fff;
}

.div-footer-links {
    float: right;
    /* margin-right: auto !important; */
}

.footer-links {
    color: #fff;
}

.footer-links:hover {
    color: #fff;
}

.cpyr {
    font-size: 10px;
    font-weight: lighter;
}

.hide-in-mob{
    display: none;
}

/* end footer */

/* for index.html */

* Beginning of Carousel Section */


.carousel {
    height: 600px;
}

/* Beginning of Dark overlay for slide2 image */
.overlay{
    width: 100%;
    height: 600px;
    background: black;
    overflow: hidden;
}

.overlay picture img{
    object-fit: cover;
    opacity: 0.3;
}
/* End of Dark overlay for slide2 image */

.d-block {
    height: 600px;
    width: 100%;
}

.fas {
    font-weight: 800;
    font-size: 1.5rem;
}

.welcome-box-container, .third-box-container {
    width: 100%;
    height: 80%;
    margin-top: 7%;
    background: none;
    position: fixed;
}

.welcome-box, .third-box {
    display: flex;
    margin: 8.5% 20%;
    height: 70%;
    width: 60%;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    letter-spacing: 0.3em;
}

.third-box{
    margin: 10% 20%;
    width: 50%;
}

.welcome-box-text{
    color: #FFF;
    margin-bottom: 3%;
    font-size: 1.1rem;
}

.third-box-text {
    color: #06C7B4;
    font-size: 2.3rem;
    margin-bottom: 3%;
    font-size: 0.9rem;
    line-height: 2rem;
    letter-spacing: 0.1rem !important;
}

.Third {
    font-size: 0.9rem;
}

.hotel-text {
   color: #06C7B4;
   font-family: 'Crimson Text', serif; 
}

.book-button {
    height: 60px;
    width: 35%;
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    margin-top: 5%;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #035951;
}

.book-button:hover {
    background: #036158;
    cursor: pointer;
}

.book-button:focus {
    background: #036158;
}

/* End Index */

/* For Aboutus */

.container-fluid{
    background-color: #F2F2F2;
    width:100%;
    max-height: 500px;
}

/*   overlay on the left*/
.desktop .box{
  float:right;
  padding-top:20em;
  padding-bottom:20em;
  background-color:rgba(166, 113, 83, 0.15);
  margin-top:1em;
  width:60%; 
}

/*  image*/
.desktop{
padding-right:10%;
}
.desktop .right-image{
margin-top:3em;
background-image: url("images/picture1.svg");
background-position:center;
background-repeat:none;
background-size:cover;
min-height: 400px;
max-width:400px;
position:relative;
}

/* left arrow */
.vector{
margin-top:90%;
padding-right:1%;
float:right;
}

/*text container*/
.text{ 
  margin-top:15%;
  padding-left:20%;
}

/* about hotel gryffindor*/
.text h4{
color:#595959;
font-weight: bold;
font-size:14px;
}

/*border*/
.border{
  border: 2px  solid #A67153;
  margin-right:88%;
}

/*h5 heading*/
.text h5{
color:#036158;
font-weight: bold;
font-family: crimson text;
font-size:18px;
}

/*paragraph*/
.text p{
color:#8C8C8C;
font-size: 14px;
}

/* End About us */

/* booking */



/* end booking */

/*This is the design for smaller screens*/
@media screen and (max-width: 768px){

    /* for about us */
  .mobile{
    display:none;

  }

  .text{
    padding-left:5%;
  }

  .vector{
  
    padding-right:1%;
    padding-left:85%;
    position:absolute;
    
  }
  /* end about us */
 
}

@media (min-width: 576px){
    .navbar-expand-sm .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }

}

@media (max-width:578px) and (min-width:321px) {
    .welcome-box {
        width: 90%;
        margin: 25% 5%;
    }

    .third-box{
        width: 80%;
        margin: 30% 10%; 
    }

    .overlay picture source{
        object-fit: cover;
        opacity: 0.3;
    }

    .hotel-text{
        font-size: 2.3rem;
    }

    .book-button{
        width: 50%;
        margin-top: 10%;
    }
    .m-text-center{
        text-align: center;
    }

    .hide-in-desk {
        display: none;
    }

    .hide-in-mob {
        display: block;
    }

}

@media (max-width:330px) and (min-width:320px) {
    .welcome-box {
        width: 90%;
        margin: 30% 5%;
    }

    .third-box{
        width: 80%;
        margin: 30% 10%; 
    }

    .overlay picture source{
        object-fit: cover;
        opacity: 0.3;
    }

    .hotel-text{
        font-size: 1.7rem;
    }

    .book-button{
        width: 50%;
        margin-top: 10%;
    }
}


/* for booking */

  